.integration___main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.integration__text{
    color: white;
}

.integration_link{
    color: white;
}

.integration__img{
    margin-left: 10px;
    width: 70px;
}