.header-info__container {
    background: url('../../assets/images/ramil-mobile-main-page.png') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 75vh;
    width: 100%;
}